@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-decoration: none;
}

body {
   min-height: 100vh;
   font-family: 'Roboto';
}

header {
   height: 13vh;
}

ul {
   list-style-type: none;
   display: flex;
   place-content: center;
}

#navbar {
   background-color: #e8e5e480;
   width: 15%;
   min-width: 300px;
   padding: 3px;
   border-radius: 2rem;
   position: fixed;
   margin-left: auto;
   margin-right: auto;
   left: 0;
   right: 0;
   text-align: center;
   margin-top: 2rem;
   z-index: 999;
}

#navbar ul {
   gap: 3px;
}

#navbar .nav-link {
   width: 33%;
   padding: 0.7em 0.5em;
   border-radius: 20px;
}

#navbar .nav-link:first-child {
   background-color: #ffffff;
}

#navbar .nav-link a {
   color: #000000;
   font-size: 14px;
   height: 100%;
   width: 100%;
   display: block;
}

.description,
.gallery,
.call-to-action,
footer {
   width: 100%;
   max-width: 1441px;
   margin: 0 auto;
}

.description {
   padding: 9rem 0;
}

.description h1 {
   width: 770px;
   margin: 0 auto;
   font-size: 4.2rem;
   text-align: center;
   margin-bottom: 2rem;
   letter-spacing: -3px;
}

.description h1 span {
   display: inline-block;
   margin: 0 -5rem;
}

.description ul {
   gap: 5px;
}

.description li {
   padding: 0.5em 1em;
   background-color: #e8e5e480;
   border-radius: 1rem;
   font-size: 14px;
}

.gallery div {
   margin: 0 auto;
   width: 100%;
   display: flex;
   gap: 20px;
   padding: 2.5rem 2.5rem 0rem 2.5rem;
}

.gallery div span {
   display: none;
}

img {
   width: 50%;
   border-radius: 1rem;
   cursor: pointer;
   transition: 0.3s ease;
}

img:hover {
   filter: blur(3px);
}

.call-to-action {
   text-align: center;
   padding: 10rem 0;
}

.call-to-action * {
   font-size: 2.5rem;
}

.call-to-action a {
   color: #7f7f7f;
}

.call-to-action a:hover {
   color: #7f7f7fb2;
}

footer {
   padding: 2rem 2.5rem;
   display: flex;
   place-content: center space-between;
}

footer * {
   font-size: 13px;
}

footer ul {
   gap: 20px;
}

footer ul li a {
   color: #000000;
}

footer ul li a:hover {
   color: #7f7f7fb2;
}

@media screen and (max-width: 1200px) {
   .description h1 {
      font-size: 3rem;
      letter-spacing: 0;
   }

   .description h1 span {
      margin: 0;
   }
}

@media screen and (max-width: 810px) {
   .description h1 {
      font-size: 2.2rem;
      width: 95%;
   }

   .description h1 span {
      display: inline;
   }

   .description ul {
      display: none;
   }

   .gallery div {
      flex-direction: column;
      gap: 7px;
      padding: 0 1rem;
   }

   .gallery div:first-child {
      padding-top: 10px;
   }

   .gallery div span {
      display: inherit;
      font-size: 14px;
      user-select: none;
      margin-bottom: 10px;
   }

   img {
      width: 100%;
   }

   .call-to-action * {
      font-size: 1.8rem;
   }

   footer {
      flex-direction: column;
      gap: 10px;
   }

   footer h3 {
      text-align: center;
   }
}
